body{
    margin:0;
    background:white;
    font-family: serif;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 200px 200px 200px 120px;
    gap:10px;
    padding:10px;
}

.box{
    background:#3b7d23;
    color:white;
    font-size:50px;
    padding:10px;
}

/* Grid positioning */

.box1{
    grid-column:1 / 5;
}

.box2{
    grid-row:2 / 6;
    grid-column:1 / 2;
}

.box3{
    grid-column:2 / 3;
}

.box4{
    grid-column:3 / 5;
}

.box5{
    grid-column:2 / 4;
}

.box6{
    grid-column:4 / 5;
}

.box7{
    grid-column:2 / 3;
}

.box8{
    grid-column:3 / 4;
}

.box9{
    grid-column:4 / 5;
}

.box10{
    grid-column:2 / 5;
}

